<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  
  <appender name="AzureAppender" type="Log4net.AzureLogAnalytics.LogAnalyticsAppender, Log4net.AzureLogAnalytics">
    <WorkspaceId value="xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx" />
    <SharedKey value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <LogType value="ApplicationLog" />
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="AzureAppender" />
  </root>
  
</log4net>